---

- name: Install the PostgreSQL dependencies
  ansible.builtin.package:
    name: "{{ pdns_pgsql_packages }}"
    state: present

- name: Create PowerDNS PostgreSQL users
  community.postgresql.postgresql_user:
    login_user: "{{ item['value']['priv_user'] }}"
    login_password: "{{ item['value']['priv_password'] }}"
    login_host: "{{ item['value']['host'] | default('localhost') if not pdns_pgsql_query_use_socket else omit }}"
    login_port: "{{ item['value']['port'] | default('5432') if not pdns_pgsql_query_use_socket else omit }}"
    login_unix_socket: "{{ pdns_pgsql_unix_socket if pdns_pgsql_query_use_socket else omit }}"
    name: "{{ item['value']['user'] }}"
    password: "{{ item['value']['password'] }}"
    role_attr_flags: "LOGIN,NOSUPERUSER,NOCREATEDB,NOCREATEROLE,NOREPLICATION"
    state: present
  when:
    - item.key.split(':')[0] == 'gpgsql'
    - item['value']['priv_user'] is defined
    - item['value']['priv_password'] is defined
  run_once: "{{ pdns_pgsql_schema_on_first_node_only }}"
  throttle: 1
  with_dict: "{{ pdns_backends | combine(pdns_pgsql_databases_credentials, recursive=True) }}"

- name: Create the PowerDNS PostgreSQL databases
  community.postgresql.postgresql_db:
    login_user: "{{ item['value']['priv_user'] }}"
    login_password: "{{ item['value']['priv_password'] }}"
    login_host: "{{ item['value']['host'] | default('localhost') if not pdns_pgsql_query_use_socket else omit }}"
    login_port: "{{ item['value']['port'] | default('5432') if not pdns_pgsql_query_use_socket else omit }}"
    login_unix_socket: "{{ pdns_pgsql_unix_socket if pdns_pgsql_query_use_socket else omit }}"
    name: "{{ item['value']['dbname'] }}"
    owner: "{{ item['value']['user'] }}"
    state: present
  when:
    - item.key.split(':')[0] == 'gpgsql'
    - item['value']['priv_user'] is defined
    - item['value']['priv_password'] is defined
  run_once: "{{ pdns_pgsql_schema_on_first_node_only }}"
  throttle: 1
  with_dict: "{{ pdns_backends | combine(pdns_pgsql_databases_credentials, recursive=True) }}"

- name: Check if the PostgreSQL databases are empty
  community.postgresql.postgresql_query:
    login_db: "{{ item['value']['dbname'] }}"
    login_user: "{{ item['value']['user'] }}"
    login_password: "{{ item['value']['password'] }}"
    login_host: "{{ item['value']['host'] | default('localhost') if not pdns_pgsql_query_use_socket else omit }}"
    login_port: "{{ item['value']['port'] | default('5432') if not pdns_pgsql_query_use_socket else omit }}"
    login_unix_socket: "{{ pdns_pgsql_unix_socket if pdns_pgsql_query_use_socket else omit }}"
    query: >-
      SELECT COUNT(DISTINCT tablename) AS count
      FROM pg_catalog.pg_tables
      WHERE schemaname = 'public';
  when:
    - pdns_pgsql_schema_load
    - item.key.split(':')[0] == 'gpgsql'
  with_dict: "{{ pdns_backends }}"
  register: _pdns_check_pgsql_db
  changed_when: false

- name: Determine location of the PostgreSQL schema SQL file
  ansible.builtin.shell:
    cmd: |
      for p in \
        /usr/share/doc/pdns-backend-postgresql-{{ _pdns_running_version }}/schema.pgsql.sql \
        /usr/share/doc/pdns-backend-pgsql-{{ _pdns_running_version }}/schema.pgsql.sql \
        /usr/share/doc/pdns-backend-postgresql/schema.pgsql.sql \
        /usr/share/doc/pdns-backend-pgsql/schema.pgsql.sql \
        /usr/share/pdns-backend-pgsql/schema/schema.pgsql.sql \
        /usr/share/dbconfig-common/data/pdns-backend-pgsql/install/pgsql \
        /usr/share/doc/powerdns/schema.pgsql.sql \
        /usr/share/doc/pdns/schema.pgsql.sql; do
        if [ -f "$p" ]; then
          echo "$p"
          exit 0
        fi
      done
      echo "Can't determine path to PostgreSQL schema" >&2
      exit 1
  changed_when: false
  register: pdns_pgsql_schema_file_detected
  when:
    - pdns_pgsql_schema_load
    - pdns_pgsql_schema_file | length == 0

- name: Set the PostgreSQL schema file variable
  ansible.builtin.set_fact:
    pdns_pgsql_schema_file_to_use: >-
      {{ pdns_pgsql_schema_file_detected.stdout if pdns_pgsql_schema_file | length == 0 else pdns_pgsql_schema_file }}
  when: pdns_pgsql_schema_load

- name: Import the PowerDNS PostgreSQL schema
  community.postgresql.postgresql_db:
    login_user: "{{ item['item']['value']['user'] }}"
    login_password: "{{ item['item']['value']['password'] }}"
    login_host: "{{ item['item']['value']['host'] | default('localhost') if not pdns_pgsql_query_use_socket else omit }}"
    login_port: "{{ item['item']['value']['port'] | default('5432') if not pdns_pgsql_query_use_socket else omit }}"
    login_unix_socket: "{{ pdns_pgsql_unix_socket if pdns_pgsql_query_use_socket else omit }}"
    name: "{{ item['item']['value']['dbname'] }}"
    state: restore
    target: "{{ pdns_pgsql_schema_file_to_use }}"
  run_once: "{{ pdns_pgsql_schema_on_first_node_only }}"
  throttle: 1
  when:
    - pdns_pgsql_schema_load
    - item['item']['key'].split(':')[0] == 'gpgsql'
    - item['query_result'][0]['count'] | int == 0
  with_items: "{{ _pdns_check_pgsql_db['results'] }}"
