---

- name: Obtain the version of the running PowerDNS instance
  ansible.builtin.command: pdns_server --version
  register: _pdns_version_raw
  check_mode: false
  changed_when: false
  failed_when: false

- name: Extract the PowerDNS version from command output
  ansible.builtin.set_fact:
    _pdns_version: >-
      {{ (_pdns_version_raw.stdout ~ ' ' ~ _pdns_version_raw.stderr)
         | regex_search('[0-9]+\.[0-9]+\.[0-9]+(?:[-._a-zA-Z0-9]+)?')
         | default('') }}

- name: Ensure PowerDNS version was detected
  ansible.builtin.assert:
    that:
      - _pdns_version | length > 0
    fail_msg: >-
      Could not parse PowerDNS version from: stdout='{{ _pdns_version_raw.stdout }}'
      stderr='{{ _pdns_version_raw.stderr }}'

- name: Export the running PowerDNS instance version to a variable
  ansible.builtin.set_fact:
    _pdns_running_version: "{{ _pdns_version | regex_replace('-[.\\d\\w]+$', '') }}"
