$TTL {{ zone.default_ttl }}
{{ zone.domain }} IN SOA {{ zone.master_ns }} {{ zone.administrator }} (
                        {{ zone.serial }}      ; serial
                        {{ zone.refresh }}              ; refresh
                        {{ zone.retry }}              ; retry
                        {{ zone.expiry }}              ; expiry
                        {{ zone.negative }} )            ; minimum

{% for ns in zone.ns %}
                        IN NS           {{ ns }}
{% endfor %}

{% for host in zone.hosts %}
{{ host.left }} IN {{ host.type }}  {{ host.right }}
{% endfor %}