options {
  directory "{{ pdns_backends.bind.config | dirname }}";
};

{% for zone in pdns_named_config %}
zone "{{ zone.zone }}" in {
  type {{ zone.type }};
  file "{{ zone.file }}";
};
{% endfor %}