config-dir={{pdns_config_dir}}
setuid={{ pdns_user }}
setgid={{ pdns_group }}
{% for config_item in pdns_config.keys() | sort %}
{% if config_item not in ["config-dir", "launch", "setuid", "setgid"] %}
{{config_item}}={{pdns_config[config_item]|string}}
{% endif %}
{% endfor %}

launch=
{%- for backend in pdns_backends -%}
launch+={{backend}}
  {%- for backend_item in pdns_backends[backend] %}
{{backend | replace(':', '-')}}-{{backend_item}}={{pdns_backends[backend][backend_item]}}
  {% endfor %}

{%- endfor -%}

